.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows:repeat(4.auto);      

    grid-template-areas:
    "header        header       hearder"
    "sidebar1      contenido    sidebar2"
    "sidedar1      widget       sidebar2"
    "footer        footer       foote";
   
}
.grid .header{
    background: orange;
    grid-column-start: header ;
    grid-column-end: header ;
} 

.grid .sidebar1{
    background: lightgreen;
    grid-column: sidedar1;
    grid-row: sidedar1;

}

.grid .contenido{
    background:#dedede ;
    color: #000;
    grid-area:contenido ;
}

.grid .sidebar2{
    background: goldenrod;
    grid-area:sidebar2 ;
}

.grid .widget{
    background: yellowgreen;
    grid-area: widget;
}

.grid .footer{
    background:lightslategray;
    grid-area: footer;
}